<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <title>Home</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="jumbotron main-content">
            <h1>Welcome to Sri lankan Schools</h1>
            <p>Sri lankan school are the top ranking schools in the South Asia.</p>
        </div>
        <div class="container">
            <h3>What do you want to do?</h3>
            <ul>
                <li><a th:href="@{/students}">View Guests</a></li>
            </ul>
        </div>
    </div>

</body>
</html>